@use '../../../styles/variables' as variable;

:host {
  display: block;
  min-height: 100vh;
  background-color: variable.$background;
}

.privacy-policy-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;

  padding: 0 300px 300px;
  margin: 0 auto;
}

.back-button {
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  margin-left: 300px;
  color: variable.$black;

  .material-symbols-outlined {
    transition: font-variation-settings 0.2s;
  }

  &:hover {
    color: variable.$focus-purple;
    background-color: variable.$background;

    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 2,
        'wght' 500;
    }
  }
}

.policy-card {
  width: 100%;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  color: variable.$purple-primary;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: variable.$purple-primary;
  padding-top: 8px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.line-small {
  line-height: 0.6;
  padding-top: 10px;
  padding-bottom: 10px;
}
