$background: #eceefe;
$white: #ffffff;
$black: #000000;
$purple-primary: #444df2;
$purple-secondary: #797ef3;
$purple-light: #adb0d9;
$text-gray: #686868;
$focus-purple: #535af1;
$error: #ed1e79;
$online-green: #92c83e;
$logo-orange: #fbb03b;
$logo-blue: #3fa9f5;
