<div
  [class.intro-animation--positioned]="isPositioned()"
  class="intro-animation"
  [class.intro-animation--expanded]="isExpanded()"
  [class.intro-animation--login]="isLogin()"
  role="img"
  aria-label="DABubble"
>
  <div class="intro-animation__content">
    <img class="intro-animation__icon" src="img/Logo.png" alt="" width="187" height="184" />

    <div class="intro-animation__wordmark">
      <img
        class="intro-animation__wordmark-image"
        src="img/dabubble-wordmark.svg"
        alt=""
        width="472"
        height="72"
      />
    </div>
  </div>
</div>
