<div class="shell">
  <app-topbar
    (messageSelected)="showSearchMessage($event)"
    (channelSelected)="showChannel($event)"
    (directMessageRequested)="showMemberDirectMessage($event)"
  />

  <div
    class="shell__workspace"
    [class.shell__workspace--devspace-closed]="!devspaceOpen()"
    [class.shell__workspace--thread-closed]="!threadVisible()"
  >
    <aside
      id="devspace-navigation"
      class="shell__devspace"
      [attr.aria-hidden]="!devspaceOpen()"
      [attr.inert]="!devspaceOpen() ? '' : null"
    >
      <app-devspace-nav
        (composingChanged)="showCompose($event)"
        (directMessageSelected)="showDirectMessage($event)"
      />
    </aside>

    <main class="shell__chat">
      @if (composing()) {
        <app-new-message
          (channelSelected)="showChannel($event)"
          (directMessageSelected)="openDirectMessage($event)"
        />
      } @else if (activeDirectUser(); as user) {
        <app-direct-message-view [user]="user" />
      } @else {
        <app-chat-view
          [searchTarget]="searchTarget()"
          (directMessageRequested)="showMemberDirectMessage($event)"
        />
      }
    </main>

    @if (threadVisible()) {
      <aside class="shell__thread">
        <app-thread-panel (closed)="closeThread()" />
      </aside>
    }

    <button
      class="shell__devspace-toggle"
      type="button"
      aria-controls="devspace-navigation"
      [attr.aria-expanded]="devspaceOpen()"
      (click)="toggleDevspace()"
    >
      <span class="material-symbols-outlined">
        {{ devspaceOpen() ? 'left_panel_close' : 'left_panel_open' }}
      </span>
      <span class="shell__devspace-toggle-text">
        Workspace-Menü {{ devspaceOpen() ? 'schließen' : 'öffnen' }}
      </span>
    </button>
  </div>
</div>
