@use '../../../../styles/variables' as variables;

:host {
  display: block;
  min-height: 100vh;
  min-height: 100svh;
}

.login-shell {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  overflow: hidden;
  background-color: variables.$background;

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    padding: 75px;
  }

  &__brand {
    top: 75px;
    left: 75px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__wordmark {
    width: 156.11px;
    height: 24px;
  }

  &__auth {
    top: 75px;
    right: 75px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;

    & a {
      color: variables.$purple-secondary;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 100px;
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        color: variables.$purple-primary;
        border: 1px solid variables.$purple-light;
        font-weight: 500;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    gap: 36px;

    & a {
      color: variables.$purple-secondary;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 100px;
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        color: variables.$purple-primary;
        border: 1px solid variables.$purple-light;
        font-weight: 500;
      }
    }
  }
}

.login-formfield {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 500px;
    height: 700px;
    width: 100%;
    background-color: variables.$white;
    border-radius: 30px;
  }

  h1 {
    font-size: 46px;
    color: variables.$purple-primary;
    font-weight: bold;
  }

  p {
    text-align: center;
    font-size: 18px;
    padding-inline: 40px;
    margin-bottom: 36px;
  }

  input {
    width: 400px;
    height: 50px;
    border-radius: 100px;
    margin-bottom: 36px;
    border: none;
    background-color: variables.$background;

    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 48px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border: 1px solid variables.$text-gray;
    }

    &:focus {
      outline: none;
      border: 1px solid variables.$focus-purple;
    }

    &::placeholder {
      display: flex;
      align-items: center;
      font-size: 18px;
      text-align: start;
    }
  }
  input[type='email'] {
    background-image: url('/icons/mail.svg');
    padding-left: 60px;
  }

  input[type='password'] {
    background-image: url('/icons/lock.svg');
    padding-left: 60px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: variables.$purple-secondary;
    border-radius: 100px;
    padding: 2px 8px;
    margin-bottom: 36px;

    &:hover {
      color: variables.$purple-primary;
      font-weight: 500;
      background-color: variables.$background;
    }
  }
  .divider {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 80%;
    font-size: 18px;

    &::before,
    &::after {
      content: '';
      flex: 1;
      color: variables.$purple-light;
      height: 1px;
      background-color: variables.$purple-light;
    }
  }

  .btn-google {
    margin-top: 36px;
    width: 400px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: variables.$background;
    color: variables.$purple-primary;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 36px;
    cursor: pointer;

    &:hover {
      border: 1px solid variables.$purple-primary;
      color: variables.$purple-primary;
      font-weight: 700;
    }

    &:focus {
      outline: none;
      border: 1px solid variables.$text-gray;
    }
  }

  .btn-primary {
    width: 140px;
    height: 50px;
    border-radius: 100px;
    border: none;
    margin-right: 20px;
    background-color: variables.$purple-primary;
    color: variables.$white;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: variables.$purple-secondary;
    }
  }

  .btn-secondary {
    width: 140px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid variables.$purple-secondary;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: variables.$purple-primary;
    background-color: variables.$white;
    cursor: pointer;

    &:hover {
      background-color: variables.$purple-primary;
      color: variables.$white;
      border: none;
    }
  }
}
