<section class="dm-list">
  <header class="dm-list__header">
    <button
      class="dm-list__toggle"
      type="button"
      [attr.aria-expanded]="expanded()"
      (click)="toggle()"
    >
      <span
        class="material-symbols-outlined dm-list__chevron"
        [class.dm-list__chevron--collapsed]="!expanded()"
        >arrow_drop_down</span
      >
      <span class="material-symbols-outlined">account_circle</span>
      <span class="dm-list__title">Direktnachrichten</span>
    </button>
  </header>

  @if (expanded()) {
    <ul class="dm-list__items">
      @for (user of users(); track user.id) {
        <li>
          <app-user-list-item
            [name]="user.name"
            [avatar]="user.avatar"
            [online]="user.online"
            [active]="user.id === activeUserId()"
            (selected)="userSelected.emit(user.id)"
          />
        </li>
      }
    </ul>
  }
</section>
