<ul class="mention-dropdown">
  @for (entry of visibleEntries(); track entry.id) {
    <li>
      <button
        #option
        class="mention-dropdown__item"
        [class.mention-dropdown__item--active]="$index === activeIndex()"
        type="button"
        (mouseenter)="setActiveIndex($index)"
        (click)="selected.emit(entry)"
      >
        @if (entry.avatar) {
          <img appAvatarFallback class="mention-dropdown__avatar" [src]="entry.avatar" alt="" />
        } @else if (entry.icon) {
          <span class="mention-dropdown__icon" aria-hidden="true">{{ entry.icon }}</span>
        }
        <span class="mention-dropdown__label">
          {{ entry.label }}
          @if (entry.description) {
            <small>{{ entry.description }}</small>
          }
        </span>
      </button>
    </li>
  } @empty {
    <li class="mention-dropdown__empty">Keine Treffer</li>
  }
</ul>
