@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

img {
  display: block;
}

.mw-1440 {
  max-width: 1440px;
  margin: 0 auto;
}
